{% extends 'base.html' %}
{% block head %}
<title>test Home</title>
{% endblock %}

{% block body %}
{% load static %}
<div class="container">

</div><!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <br>
                            <br>
                            <img src="{% static 'kallawaya/img/ellos.png' %}" width="600px">
                            <h2>Inicia tu consulta</h2>
                            <p style="color:white"> *NOTA: Todas las posibles respuestas son en base
                                a mitos, leyendas e investigaciones. <br>Kallawaya no se hace responsable
                            de cualquier tratamiento y enfermedad al 100%</p>
                            <br>
                            <a href="/kallawaya/testInit" class="btn_2" style="background-color: #0cdcab">COMENZAR    </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
{% endblock %}