{% extends 'base.html' %}
{% block head %}
<title>Test Init</title>
{% endblock %}

{% block body %}
{% load static %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                             <br>
                            <br>
                            <img src="{% static 'kallawaya/img/new3.png' %}" width="400px">
                            <br>
                            <br>
                            <h6 style="color: white">*Nota: Solo puedes elegir uno<h6>
                            <a href="#" class="btn_2" id=1 style="background-color: #0cdcab">DOLOR DE CABEZA</a>
                              <a href="#" class="btn_2" id=2 style="background-color: #fea680">DOLOR EN EL ESTÓMAGO</a><br><br>
                              
                              <a href="#" class="btn_2" style="background-color: #ab035e"><input type="checkbox">DOLOR DE HUESOS</a>
                               <a href="#" class="btn_2" style="background-color: #9fcc44"><input type="checkbox">DOLOR DE MUELAS</a><br><br>
                               <a href="#" class="btn_2" style="background-color: #fa635c"><input type="checkbox">CANSANCIO</a>
                               <a href="#" class="btn_2" style="background-color: #ffae19"><input type="checkbox">FIEBRE</a><br><br>
                              &nbsp; <a href="test3.html" class="btn_2" style="background-color: #1d3dc6">SIGUIENTE</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
{% endblock %}